.collapse {
    @include desktop-only {
        font-size: 24px;
    }
    margin-bottom: 20px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: $color-piment;
        border-radius: 5px;
        color: $color-white;
    }
    &__content {
        background-color: $color-gray;
        border-radius: 5px;
        padding: 20px 10px 10px 10px;

        animation: collapsein $menu-dur $menu-delay ease-in-out both;
    }
    &__button {
        height: 14px;
        cursor: pointer;
    }
}
