.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
    &__title{
        font-size: 288px;
        font-weight: 900;
        color:$color-piment;
    }
    &__subtitle{
        font-size: 36px;
        margin-top: 60px;
    }
    &__link{
        text-decoration: underline $color-piment;
        margin-top: 150px;
    }
}