.footer{
    background: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:60px;
    &__img{
        width:122px;
        margin-bottom: 25px;
    }
    & p{
        color: $color-white;
    }
}