.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin-bottom: $layout-mobile-padding;
    @include desktop-only {
        //margin-bottom: $layout-desktop-padding;
    }
    &__img {
        max-width: 210px;
        max-width: 145px;
    }
    &__link {
        display: flex;
        color: $color-piment;
        margin-left: auto;
        & li {
            color: $color-piment;
            margin-left: 20px;
            font-size: 1.3rem;
            @include mobile-only {
                text-transform: uppercase;
                font-size: 0.8rem;
            }
        }
        &__active {
            text-decoration: underline $color-piment;
        }
    }
}
