@keyframes collapsein {
	0% {
		opacity:0;
		transform: translateY(-1px);
	}
	100% {
		opacity:1;
		transform: translateY(0);
	}
}

@keyframes collapseout {
	0% {
		opacity:1;
		transform: translateY(0px);
	}
	100% {
		opacity:0;
		transform: translateY(-1px);
	}
}