.ficheLogement{
    display: grid;

    & h2{
        color: $color-piment
    }
    &__index{
        display:flex;
        
    }
    &__data{
        display:flex;
    }
    &__host{
        &__data{
        display: flex;
        }
    }
}