@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$font-1: "Montserrat", sans-serif;

$color-gray: #F6F6F6;
$color-piment: #FF6060;
$color-darkgray: #666666;
$color-white: white;
$color-black: black;

// layout
$layout-padding: 20px;

