// Fonts
$font-1: "Montserrat", sans-serif;

//Colors
$color-gray: #f6f6f6;
$color-piment: #ff6060;
$color-darkgray: #666666;
$color-white: white;
$color-black: black;

// layout
$layout-mobile-padding: 20px;
$layout-desktop-padding: 40px;

$menu-dur: 200ms;
$menu-delay: 150ms;
