* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-white;
    font-family: $font-1;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline $color-piment;
    }
}
