@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body,
* {
    font-family: $font-1;
    font-size: 18px;
    font-weight: 400;
}

p {
    font-size: 0.8rem;
    margin: 0px;
    @include desktop-only {
        font-size: 1rem;
    }
}

h1 {
    /*Pages titles*/
    font-size: 1.3rem;
    font-weight: 500;

    @include desktop-only {
        font-size: 2.6rem;
    }
}

h2 {
    /*Locations names*/
    font-size: 1rem;
    @include desktop-only {
        font-size: 1rem;
    }
}

h3 {
    /*Sections titles*/
    font-size: 1rem;
    font-weight: 600;
    color: $color-piment;
    @include desktop-only {
        font-size: 2rem;
    }
}

h4 {
    /*Localisations*/
    font-size: 0.8rem;
    @include desktop-only {
        font-size: 1rem;
    }
}

li {
    font-size: 0.7rem;
    @include desktop-only {
        font-size: 0.8rem;
    }
}

a {
    font-size: 0.8rem;
    @include desktop-only {
        font-size: 1.3rem;
    }
}
